* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-color: #f97316;
  --second-color: #27272a;
  --small-text: #71717a;
  --small-text-second: #47474b;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  display: flex;
  background: #f4f4f5;
}

/* ==== Common ==== */
input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}
a {
  text-decoration: none;
}
.container {
  max-width: calc(100% - 24px);
  margin: 0 auto;
  /* background-color: antiquewhite; */
}
.btn {
  display: block;
  min-width: 120px;
  line-height: 40px;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
}
.btn:hover {
  opacity: 0.9;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}

/* === ============     sidebar =============================== === */
.sidebar {
  padding: 24px;
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: aqua; */
  /* position: static; */
  overflow-y: auto;
  height: 100vh;
}
.sidebar__logo {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 24px;
}

.logo-svg-book {
  width: 4rem;
}
.account__item,
.nav__item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 12px;
  padding: 0 4px;
}
.account__item:hover,
.nav__item:hover {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.account__item:hover .nav__icon-left,
.nav__item:hover .nav__icon-left {
  background: var(--primary-color);
  transform: scale(1.2);
}
.account__item:hover .nav__icon,
.nav__item:hover .nav__icon {
  color: #fff;
}
.nav__icon-left {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.nav__icon {
  width: 1.8rem;
  color: #000000;
}
.account__link,
.nav__link {
  font-size: 1.2rem;
  color: #000;
  padding: 16px 0;
}

.account__header {
  margin: 18px 0;
  color: #747475;
  font-size: 1.8rem;
}

/* submenu */

/* ================== DASHBOARD =========================== */
.dashboard {
  flex: 1;
  margin-left: 270px;
}
.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 10px;
}
.dashboard__header-right {
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.dashboard__cta {
  margin-right: 24px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.dashboard__cta--link {
  width: 28px;
  color: var(--primary-color);
}
.dashboard__cta--greeting {
  color: #000;
}
/* === dashboard top === */
.dashboard__top {
  margin-top: 40px;
  display: flex;
  column-gap: 30px;
}
.dashboard__stats {
  width: 55%;
}
.dashboard__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
.stat-card {
  background: var(--second-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  transition: 0.25s;
}
.stat-card:hover {
  background: var(--primary-color);
}
.stat-card__wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stat-card__number {
  /* margin-top: 16px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stat-card__number--total,
.stat-card__number--percent {
  /* color: rgba(74, 144, 226, 0); */
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  /* -webkit-text-stroke: 1px #b72424; */
}
.stat-card__title {
  /* margin-top: 16px; */
  color: #fff;
}
.stat-card__icon--svg {
  width: 32px;
  color: #000;
}
.dashboard__top-user {
  width: 55%;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
}
.top-user__heading {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.8rem;
}

/* ----- TABLE DASHBOARD -----*/
.dashboard__table {
  width: 100%;
  margin-top: 20px;
}

.dashboard__table th,
.dashboard__table td {
  text-align: start;
}
.dashboard__table th {
  padding: 10px 0 0;
  color: var(--small-text);
  font-size: 1.2rem;
  font-weight: 600;
}
.dashboard__table td {
  border-bottom: 1px solid;
  border-color: var(--primary-color);
  vertical-align: middle;
  padding: 20px 0;
}

.dashboard-col-top-user {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  -webkit-text-stroke: 1px #b72424;
}
.top-user__desc {
  margin-top: 20px;
  font-size: 1.4rem;
  color: var(--small-text-second);
  font-weight: 500;
}
.table-rank-img {
  width: 32px;
  height: auto;
  object-fit: cover;
}

/* ============ dashboard mid =============== */
.dashboard__mid {
  margin-top: 60px;
  display: flex;
  column-gap: 20px;
}
.dashboard__mid-left {
  width: 70%;
}
.dashboard__mid-right {
  width: 30%;
}
.dashboard__mid-right,
.dashboard__mid-left {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
}
/* ======= dashboard mid Table ============ */
.dashboard__table-mid td {
  border-bottom: transparent;
  font-size: 1.4rem;
  font-weight: 500;
}
td.dashboard-col-top-book {
  font-size: 3rem;
  /* padding-right: 20px; */
}
.table-rank-img-mid {
  width: 48px;
  height: auto;
  object-fit: cover;
}
/* right */
.dashboard__mid-title {
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 600;
}
.dashboard__mid-list {
  margin-top: 20px;
}
.dashboard__mid-item {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 16px;
}
.dashboard__mid-thumbnail {
  width: 60px;
  height: 85px;
  object-fit: cover;
  overflow: hidden;
  display: block;
}
.dashboard__mid-name {
  font-size: 1.4rem;
}
.dashboard__mid-author {
  margin-top: 5px;
  font-size: 1.2rem;
  color: var(--small-text);
}
.dashboard__mid-price {
  margin-top: 5px;
  color: #b72424;
  font-size: 1.4rem;
}

/* ======================= DASHBOARD BOTTOM ============================= */
.dashboard__bottom {
  margin-top: 40px;
}
.dashboard__bottom-wrapper {
  display: flex;
  column-gap: 20px;
}
.dashboard__bottom-left {
  background: #fff;
  width: 40%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}
.dashboard__bottom-right {
  background: #fff;
  width: 60%;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}
.linechart-wrapper {
  height: 250px;
}
.barchart-wrapper {
  height: 250px;
}
.barchart {
  background-color: var(--second-color);
  border-radius: 12px;
}

/* ===================                             ============================== */

/* =================== B O O K E D I T O R P A G E ============================== */

/* ===================                             ============================== */
.book-editor {
  background: #fff;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 20px;
  overflow-y: auto;
}
.book-editor__header {
  padding: 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #c4c4c4;
  margin-left: -20px;
  margin-right: -20px;
}

.book-editor__tool {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-inside__container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.dashboard__mid-title {
  border-bottom: solid 1px var(--primary-color);
  padding-bottom: 15px;
}

.show-entries {
  margin-bottom: 12px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.show-entries select {
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1.4rem;
}

.btn-timsach {
  border: transparent;
  font-size: 1.4rem;
  line-height: 32px;
}
.textarea-timsach {
  color: var(--small-text-second);
  font-size: 1.4rem;
  border-radius: 12px;
  line-height: 24px;
  border: solid 1px var(--primary-color);
}
.textarea-timsach:focus {
  border: solid 2px var(--primary-color);
  outline: none;
}

.book-editor__table-wrapper {
  margin-top: 30px;
  width: 100%;
  /* max-height: 500px; */
  overflow-x: auto;
  overflow-y: auto;
}
.book-editor__table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Cố định layout, tránh co dồn */
  min-width: 600px;
}
.book-editor_table td,
.book-editor_table th {
  padding: 10px;
  vertical-align: middle;
}
.book-editor_table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-editor_table td {
  font-size: 1.4rem;
  color: var(--small-text-second);
}

.book-editor_table td.tensach,
.book-editor_table td.mota {
  white-space: normal;
  word-break: break-word;
}
.btn-warning,
.btn-danger {
  display: inline-block;
  min-width: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  height: auto;
}
.btn-warning {
  background: #dd6612;
}
.btn-danger {
  background: #b72424;
}
